version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
      time: "04:00"
    labels:
      - dependencies
      - github-actions
    commit-message:
      prefix: chore
      include: scope
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: daily
      time: "04:00"
    labels:
      - dependencies
      - golang
      - go
    commit-message:
      prefix: chore
      include: scope
